.error {
    color: #4B1248;
}


.container {

   
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;

}

.form_div {
    color: #4B1248;
    font-weight: bolder;
    margin: 10px;
    border-radius: 2px;
    padding: 10px;
    min-width: 500px;
    background-color: #F0C27B;
   
    align-items: center;
    justify-content: flex-start;
  
}

.form_div p {
   
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
}

.form_label {
    margin-right: 15px;
}


input {
    width: 100%;
}




.button-style {
    
    font-weight: bold;
    border: none;
    padding: 10px 30px 10px 30px;
    border-radius: 2px;
    margin-top: 30px;
    
}








