

header{
    width: auto;
    height: 80px;
    background-color: #F0C27B;
    display: flex;
    gap:100px;
    align-items: center;
    justify-content:space-around;
    
   

}

a{
    color:  #4B1248;
    text-decoration: none;
}

a:hover{
    font-size: larger;
    font-weight: bolder;
}

.menu{
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
}