<header>

 <div class="menu">
  <a [routerLink]="['home']">Inicio</a>
  <br />
  <a [routerLink]="['book-list']">Colección</a>
 </div>
 
  
  <div class= "menu" *ngIf="!authService.loggedIn()">
    <a [routerLink]="['signin']">Mi perfil</a>
    <br />
    <a [routerLink]="['signup']">Registrarse</a>
  </div>


  <div class= "menu" *ngIf="authService.loggedIn()">
    <br />
    <a [routerLink]="['new-book']">Añadir libro</a>
    <br />
    <a [routerLink]="['my-books']">Mis libros</a>
    <br />
    <a (click)= "authService.logout()">LogOut</a>
    <br />
  </div>

</header>
