.book {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    margin: 32px;
    width: 200px;

    &__info {
        padding: 8px;
    }

    &__img {
        width: 200px;
    }

    &--selected {
        border: 1px solid coral;
    }
}