figure {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 50px;
  align-items: center;
}

.bookImg {
  width: 500px;
  border: 1px solid burlywood;
}

.infoBook {
  width: 600px;
  align-items: center;
  justify-content: center;
  text-align: justify;
}
