<div>
  <h1>GESTIONA TU BIBLIOTECA PERSONAL !</h1>

  <article>
    <p>
      El saber no ocupa lugar, pero los libros sí y, en ocasiones las
      colecciones que vamos creando a lo largo de los años necesitan un orden,
      un control que nos permita conocer todos los títulos que tenemos en casa.
    </p>
    <p>
      Ahora bien, ¿Cómo llevar de la mejor forma ese control? Pues con un
      software para gestionar tu biblioteca personal. Un programa que nos
      facilite llevar un registro de cada uno de nuestros libros. Conocer qué
      libros tenemos y dónde los tenemos. Saber qué temática trata cada libro y
      qué comentarios le hemos dado.
    </p>

    <p>
      Este es un programa de gestión de bibliotecas personales con el cual
      podremos catalogar y ordenar libros, obtener información de cada uno de
      ellos y revisar las anotaciones que hemos hecho sobre ellos.
    </p>
  </article>
</div>
