.book__list {
    display: flex;
    flex-wrap: wrap;
}


.box {
    margin:20px auto 40px auto;	
    border:1px solid #F0C27B;
    height:30px;
    overflow: hidden;
    width: 230px;
    position:relative;
 }
 select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 250px;
    color: #4B1248;
 }

 select:focus{ outline: none;}
 
 .box::after{
     content:"\025be";
     display:table-cell;
     padding-top:7px;
     text-align:center;
     width:30px;
     height:30px;
     color:#4B1248;
     background-color:#F0C27B;
     position:absolute;
     top:0;
     right:0px;	
     pointer-events: none;
 }