.book__list {
    display: flex;
    flex-wrap: wrap;
}

.div_input {
    display: flex;
    align-items: center;
    justify-content: center;
}

input {

    width: 50%;
    margin-bottom: 50px;
    padding: 7px;
}

input:focus {
   outline: none;
}

.div_buttons_pages {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-bottom: 80px;
}