<div class="div_input">
  <input [(ngModel)]="filterValue" placeholder="Filtrar por título" />
</div>

<br />
<div class="book__list">
  <app-book
    *ngFor="
      let book of originalBooks
        | filter : filterValue
        | pagination : currentPage
    "
    [bookInfo]="book"
  ></app-book>
</div>

<div class="div_buttons_pages">
  <button *ngIf="currentPage > 1" (click)="changePage(currentPage - 1)">
    Anterior
  </button>
  <span> {{ currentPage }} </span>
  <button *ngIf="currentPage < maxPage" (click)="changePage(currentPage + 1)">
    Siguiente
  </button>
</div>
